<a href="https://colab.research.google.com/github/muhammadnashruddinnurarifbudiman/data_analytic_tugas4/blob/main/uts-data-analytic-20101292.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd 
import numpy as np

In [ ]:
data = pd.read_csv("tennis.csv")

In [ ]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 5 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   outlook   14 non-null     object
 1   temp      14 non-null     object
 2   humidity  14 non-null     object
 3   windy     14 non-null     bool
 4   play      14 non-null     object
dtypes: bool(1), object(4)
memory usage: 590.0+ bytes

In [ ]:
data.columns

Index(['outlook', 'temp', 'humidity', 'windy', 'play'], dtype='object')

In [ ]:
data.head(14)

     outlook  temp humidity  windy play
0      sunny   hot     high  False   no
1      sunny   hot     high   True   no
2   overcast   hot     high  False  yes
3      rainy  mild     high  False  yes
4      rainy  cool   normal  False  yes
5      rainy  cool   normal   True   no
6   overcast  cool   normal   True  yes
7      sunny  mild     high  False   no
8      sunny  cool   normal  False  yes
9      rainy  mild   normal  False  yes
10     sunny  mild   normal   True  yes
11  overcast  mild     high   True  yes
12  overcast   hot   normal  False  yes
13     rainy  mild     high   True   no

In [ ]:
outlook_count = data.groupby(['outlook', 'play']).size()
outlook_total = data.groupby(['outlook']).size()
temp_count = data.groupby(['temp', 'play']).size()
temp_total = data.groupby(['temp']).size()
humidity_count = data.groupby(['humidity', 'play']).size()
humidity_total = data.groupby(['outlook']).size()
windy_count = data.groupby(['windy', 'play']).size()
windy_total = data.groupby(['windy']).size()
print(outlook_count)
print(windy_total)
print(outlook_total)
print(temp_count)
print(temp_total)
print(humidity_count)
print(humidity_total)
print(windy_count)
print(windy_total)

outlook   play
overcast  yes     4
rainy     no      2
          yes     3
sunny     no      3
          yes     2
dtype: int64
windy
False    8
True     6
dtype: int64
outlook
overcast    4
rainy       5
sunny       5
dtype: int64
temp  play
cool  no      1
      yes     3
hot   no      2
      yes     2
mild  no      2
      yes     4
dtype: int64
temp
cool    4
hot     4
mild    6
dtype: int64
humidity  play
high      no      4
          yes     3
normal    no      1
          yes     6
dtype: int64
outlook
overcast    4
rainy       5
sunny       5
dtype: int64
windy  play
False  no      2
       yes     6
True   no      3
       yes     3
dtype: int64
windy
False    8
True     6
dtype: int64

In [ ]:
p_over_yes = outlook_count['overcast','yes']
p_over_no = 0
p_rainy_yes = outlook_count['rainy','yes']
p_rainy_no = outlook_count['rainy','no']
p_rainy_yes = outlook_count['sunny', 'yes']

In [ ]:
X_train = pd.get_dummies(data[['outlook', 'temp', 'humidity', 'windy']])
y_train = pd.DataFrame(data['play'])

#assigning predictor and target variables
x= np.array([[-3,7],[1,5], [1,2], [-2,0], [2,3], [-4,0], [-1,1], [1,1], [-2,2], [2,7], [-4,1], [-2,7]])
Y = np.array([3, 3, 3, 3, 4, 3, 3, 4, 3, 4, 4, 4])
print(X_train.info())
print(X_train.head())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14 entries, 0 to 13
Data columns (total 9 columns):
 #   Column            Non-Null Count  Dtype
---  ------            --------------  -----
 0   windy             14 non-null     bool
 1   outlook_overcast  14 non-null     uint8
 2   outlook_rainy     14 non-null     uint8
 3   outlook_sunny     14 non-null     uint8
 4   temp_cool         14 non-null     uint8
 5   temp_hot          14 non-null     uint8
 6   temp_mild         14 non-null     uint8
 7   humidity_high     14 non-null     uint8
 8   humidity_normal   14 non-null     uint8
dtypes: bool(1), uint8(8)
memory usage: 254.0 bytes
None
   windy  outlook_overcast  outlook_rainy  outlook_sunny  temp_cool  temp_hot  \
0  False                 0              0              1          0         1
1   True                 0              0              1          0         1
2  False                 1              0              0          0         1
3  False                 0              1              0          0         0
4  False                 0              1              0          1         0

   temp_mild  humidity_high  humidity_normal
0          0              1                0
1          0              1                0
2          0              1                0
3          1              1                0
4          0              0                1

In [ ]:
#Import Library of Gaussian Naive Bayes model
from sklearn.naive_bayes import GaussianNB
import numpy as np

In [ ]:
#Create a Gaussian Classifier
model = GaussianNB()

# Train the model using the training sets 
model.fit(X_train, y_train)

#Predict Output 
predicted= model.predict([[False,1,0,0,0,1,0,1,0]])
print (predicted)

['yes']

/usr/local/lib/python3.7/dist-packages/sklearn/utils/validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)
/usr/local/lib/python3.7/dist-packages/sklearn/base.py:451: UserWarning: X does not have valid feature names, but GaussianNB was fitted with feature names
  "X does not have valid feature names, but"